<?xml version='1.0' encoding='utf-8'?>
<widget id="com.myapp.mobile"
          version="2.25"
          xmlns="http://www.w3.org/ns/widgets">
    <name>
        Space Asteroids
    </name>
    <description>
        VideoGame Space Asteroids
    </description>
    <author email="adnaga94@gmail.com">
        Adrián Navarro
    </author>
    <icon src="cover.png" />
</widget>